<h1>Listing echantillons</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Categorie</th>
      <th>Urne</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @echantillons.each do |echantillon| %>
      <tr>
        <td><%= echantillon.title %></td>
        <td><%= echantillon.categorie_id %></td>
        <td><%= echantillon.urne_id %></td>
        <td><%= link_to 'Show', echantillon %></td>
        <td><%= link_to 'Edit', edit_echantillon_path(echantillon) %></td>
        <td><%= link_to 'Destroy', echantillon, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Echantillon', new_echantillon_path %>
