<%= form_for(@ensemble, :html => {:multipart => true}, remote: true) do |f| %>
  <%= form_authenticity_token %>
  <%= hidden_field_tag "espace_id"%>
  <div class="field">
    <%= f.label :name %><%= f.text_field :name %>
  </div>
  
  <div class="field">
    <%= f.label :width %><%= f.number_field :width %><br>
    <%= f.label :height %><%= f.number_field :height %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
