<div id="espace" espace_id="<%= @espace.id %>" class="sortable resizable" style="width:<%= @espace.width %>px; height:<%= @espace.height %>px;background-image : url(<%= @espace.avatar.url %>)">
      
            <%= render :partial => "showEnsembles", object: @espace %>
      

</div>

<button id="button">Toggle</button><%= link_to 'Edit', edit_espace_path(@espace) %>|<%= link_to 'Back', espaces_path %>
<div id="admin_panel" espace_id=<%= @espace.id %>>
	<div id="create"><h1>Créer</h1>
		<div id= "ensemble_errors" style="display:none"></div>
		<%= render partial: "ensembleForm", object: @new_ensemble %>
    </div>
</div>
