<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @espace.name %>
</p>

<p>
  <strong>Width:</strong>
  <%= @espace.width %>
</p>

<p>
  <strong>Height:</strong>
  <%= @espace.height %>
</p>

<p>
  <strong>Top:</strong>
  <%= @espace.top %>
</p>

<p>
  <strong>Left:</strong>
  <%= @espace.left %>
</p>

<%= link_to 'Edit', edit_espace_path(@espace) %> |
<%= link_to 'Back', espaces_path %>
