<h1>Listing tris</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Urne</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @tris.each do |tri| %>
      <tr>
        <td><%= tri.title %></td>
        <td><%= tri.urne_id %></td>
        <td><%= link_to 'Show', tri %></td>
        <td><%= link_to 'Edit', edit_tri_path(tri) %></td>
        <td><%= link_to 'Destroy', tri, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Tri', new_tri_path %>
