<h1>Listing urnes</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Width</th>
      <th>Height</th>
      <th>Top</th>
      <th>Left</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @urnes.each do |urne| %>
      <tr>
        <td><%= urne.title %></td>
        <td><%= urne.width %></td>
        <td><%= urne.height %></td>
        <td><%= urne.top %></td>
        <td><%= urne.left %></td>
        <td><%= link_to 'Show', urne %></td>
        <td><%= link_to 'Edit', edit_urne_path(urne) %></td>
        <td><%= link_to 'Destroy', urne, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Urne', new_urne_path %>
