<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @item.title %>
</p>

<p>
  <strong>Width:</strong>
  <%= @item.width %>
</p>

<p>
  <strong>Height:</strong>
  <%= @item.height %>
</p>

<p>
  <strong>Top:</strong>
  <%= @item.top %>
</p>

<p>
  <strong>Left:</strong>
  <%= @item.left %>
</p>

<%= link_to 'Edit', edit_item_path(@item) %> |
<%= link_to 'Back', items_path %>
