<h1>Listing ensembles</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Width</th>
      <th>Height</th>
      <th>Top</th>
      <th>Left</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @ensembles.each do |ensemble| %>
      <tr>
        <td><%= ensemble.name %></td>
        <td><%= ensemble.width %></td>
        <td><%= ensemble.height %></td>
        <td><%= ensemble.top %></td>
        <td><%= ensemble.left %></td>
        <td><%= link_to 'Show', ensemble %></td>
        <td><%= link_to 'Edit', edit_ensemble_path(ensemble) %></td>
        <td><%= link_to 'Destroy', ensemble, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Ensemble', new_ensemble_path %>
